  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');


*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

body{
  background:linear-gradient(45deg, #c184f6,#000000);
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.calculator{
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0  30px rgb(42, 24, 79);
  background-color: #ffffff;
  
}

#display{
  margin:20px 10px;
  height: 120px;
  width: auto;
  display: flex;
  align-items:flex-end ;
  justify-content: flex-end;
  /* color:rgb(255, 255, 255); */
  color:#9e9e9e;
  font-size:30px;

}


#clear{
  background-color: #734a91;
}

.btn-number{
  background-color: #eaffcc;
}

.btn-operator{
  background-color:#25f4e9;
}

.btn-equal{
  background-color:#f1d7ff;
}

#backEspace img {
   width: 33px;
}


.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.row-tr{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap; 
  row-gap: 8px;
}

.column-td{
  display: flex;
  flex-direction:row;
  column-gap:8px;
  
  
}

.theme-toggler {
  position : absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler::before{
  position: absolute;
  content:" ";
  height: 30px;
  width: 30px;
  top:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;

  z-index:-1;
}

.theme-toggler.active{
  background-color: #333;


}
.theme-toggler.active::before{
  background-color: #ffffff;
}

  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }

  button{
    height: 60px;
    width: 60px;
    border:0;
    border-radius: 30px;
    font-size: 20px;
    cursor:pointer;
    transition:all 0.2s ease;

  }

  button:hover{
    transform: scale(1.1);
  }


/* Them Dark */
.dark{
background-color: #000000;
}


